  form {
      top:200px;
      position:relative;
      display:inline-block;
     }

   body{
      
     text-align: center
     
   }  
   
   body form span{
       color: red;
       font: sans-serif;
       font-size:20px;
   }
